<head>
  <%= render 'pages/navbar'%>
</head>
<body>
<div class="container main">
  <div class="container heinrich">
    <p>Kaiser Heinrich II.</p>
    Die Interpretation historischer Persönlichkeiten ist stets einer dem Zeitgeist nahestehenden Sichtweise unterworfen. In jedem Jahrhundert werden historische Fakten neu bewertet und neu miteinander in Verbindung gesetzt. 
    Das Leben und Wirken Heinrich II. (*973 - † 1024) wird von erstklassigen Fachpublikationen aufgegriffen und diskutiert. Aufgrund der komplexen Quellenlage des Mittelalters soll an dieser Stelle keine zusätzliche Interpretation entstehen. Es seien nur wenige Eckdaten benannt, die das Wirken Heinrich II. umreißen. 
    Heinrich II. wurde am 6. Mai 973 im Geschlecht der Ottonen geboren. Nach der Krönung zum ostfränkischen König im Juli 1002, salbt Papst Benedikt VIII. Heinrich II. am 14. Februar 1014 zum Kaiser des Heiligen Römischen Reiches deutscher Nation. Mit dem Tod Heinrichs II. am 13. Juli 1024 endet die Ottonische Zeit auf dem Thron des Heiligen Römischen Reiches. 
    Die Regentschaftszeit von Heinrich II. wird von verschiedenen kriegerischen Auseinandersetzungen begleitet. Heinrich II. festigt und stabilisiert sein Reich durch die engere Bindung an die katholische Kirche, führt Krieg gegen den polnischen Fürsten Boleslaw I. Chrobry. 
    Auf einer Reise nach Magdeburg erkrankt Heinrich II. schwer und stirbt 1024 in Grona bei Göttingen, sein Grab befindet sich im Dom von Bamberg. 1146 wird Heinrich II. heiliggesprochen. Das späte Mittelalter hob im Rahmen der Heiligsprechung dessen Einsatz für die Verbreitung und Festigung des Christentums hervor. Politisch strebte Heinrich II. die „Wiederherstellung des Römischen Reiches“ an, 1007 gründet er das Bistum Bamberg. Sein Einsatz für die Verbreitung des Christentums und seine Nähe zur römisch-katholischen Kirche sind als Erfolgsfaktoren seiner Regentschaft zu nennen. Das Reich Heinrich II. umfasste wesentliche Teile des heutigen Deutschlands, Frankreichs, Österreichs, der Niederlande und Belgiens, Italiens sowie Teile Kroatiens und kann – besonders unter der Beachtung der sehr einfachen Kommunikationsmöglichkeiten des Mittelalters – als europäischer Staat verstanden werden. 
    </p>
    <img class="grab" src="https://res.cloudinary.com/titavon/image/upload/v1617735248/keisergrab_aw1cm8.jpg">
    <img class="grab" src="https://res.cloudinary.com/titavon/image/upload/v1617737180/St-Heinrich-Nadel_2010_detail_klein_vle8ah.jpg">
  </div>
  <%= render 'pages/footer'%>
</div>
</body>