.main {
    background-color: #FFFFFF;
}

.container-heinrich {
    padding-top: 30px;
    padding-bottom: 60px;
}

.img-magnifier-container {
    position: relative;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    display: flex;
    align-items: center;
    width: 250px;
    border-radius: 5px
}

.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }

.hn1, .hn2 {
    margin-right: 0px !important;
    margin-top: 0px !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
}

#img-mg {
    margin-right: 20px;
}

#img-mg1 {
    margin-left: 20px;
}

#img-text {
    padding-top: 17px !important;
}

#img-text, #img-text1 {
    font-size: 12px;
    color: rgb(34, 34, 34);
    text-align: center;
    padding-top: 5px;
}