// Specific CSS for your home-page
p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 24px;
}

p:hover {
    cursor: text;
}

h2, h3, h4, h5 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #AE1F33;
    font-weight: bold;
    line-height: 28px;
}

.container-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7F7F7;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.rounded {
    height: 200px;
    width:250px;
    object-fit:cover;
    object-position:50% 29%;
    margin-top: 40px;
}

.float-left {
    margin-right: 60px;
}

.float-center {
    margin-right: 60px;
}

.events-title {
    margin-top: 50px;
    text-align: center;
}

.entree h3 {
    color: #AE1F33;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-start {
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
    text-align: center;
}