// Specific CSS for your home-page
.container-logo {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F7F7F7;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.carousel-inner {
    padding-top: 15px !important;
}

.rounded {
    height: 200px;
    width: 250px;
    margin-top: 40px;
}

.float-left {
    margin-right: 60px;
}

.float-center {
    margin-right: 60px;
}

.events-title {
    margin-top: 50px;
    text-align: center;
}

h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.container-start {
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

.container-icon {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
