// Specific CSS for your home-page
.container-logo {
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.navbar {
    height: 35px
}

.navbar-nav {
    padding-bottom: 15px;
}

.nav-item {
    padding-right: 124px;
}

.contact {
    padding-right: 0px;
}

#MainBackground {
    background-color: #001E42;
}

#MainBackground {
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-inner {
    padding-top: 15px !important;
}

.rounded {
    height: 200px;
    width: 250px;
    margin-top: 40px;
}

.float-left {
    margin-right: 60px;
}

.float-center {
    margin-right: 60px;
}

h2 {
    margin-top: 50px;
    text-align: center;
    color: black;
}

//.line-left {
//    top: 729px;
//    left: 205px;
//    position: absolute;
//}
//
//.line-right {
//    top: 729px;
//    right: 205px;
//    position: absolute;
//}

.Round-Picture {
    height: 400px;
    width: 400px;
    border-radius: 50%;
}

//.main {
//    margin-left: 100px;
//    margin-right: 100px;
//}

.container-start {
    padding-left: 300px;
    padding-right: 300px;
}