.container-icon {
    position: relative;
    top: -2.3em
}

hr {
    margin-top: 3rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    width: 650px;
}

.icon-line {
    padding-top: 30px;
}