// Import page-specific CSS files here.
@import "home";
@import "footer";
@import "navbar";
@import "heinrich";
@import "impressum";
@import "history";
@import "start";
@import "icon";
@import "slide.show"