.navbar {
    margin-top: 30px;
    margin-left: 160px;
    position: absolute;
    height: 35px;
    background-color: transparent;
}

.navbar-nav {
    padding-bottom: 15px;
}

.nav-item {
    padding-right: 100px;
}

.container-logo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F7F7F7;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.contact {
    padding-right: 0px !important;
}

a {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

//.nav-link {
//    position: absolute;
//}

a:hover, a:active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}