.navbar {
    height: 35px
}

.navbar-nav {
    padding-bottom: 15px;
}

.nav-item {
    padding-right: 124px;
}

.contact {
    padding-right: 0px !important;
}

a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(224, 223, 223);
}

//.nav-link {
//    position: absolute;
//}

a:hover, a:active {
    color: rgb(224, 223, 223);
    text-decoration: underline;
}