.carousel-inner {
    padding-top: 15px !important;
}

.img1, .img2 {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 50%;
}

.img3 {
    width:100%;
    height:550px;
    object-fit:cover;
    object-position:50% 25%;
}