.container-all {
    position: relative;
    top: -200px;
}

.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 100px;
    padding-right: 100px;
    text-align: left;
    padding-top: 40px;
}

.container-alexander {
    /*position: relative;
    right: 353px;
    top: 291px;*/
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.alexander {
    border-radius: 5px;
    margin-top: 20px;
}