<head>
  <%= render 'pages/navbar'%>
</head>
  <body>
    <div class="container main">
      <%= render 'pages/icon' %>
      <div class="container text">
        <h2>Ordensgeschichte</h2>
        <p>Gestiftet durch Kurfürst August II. von Sachsen (König August III. von Polen) (*1696 - †1763) am 7. Oktober 1736, war der
           Militär-Sankt-Heinrichs-Orden bis 1807 als Tapferkeitsauszeichnung eine eher selten verliehene Anerkennung militärischen Mutes.
           Erst nach den napoleonischen Kriegen erfuhr der Orden eine Neustiftung und erhielt am 23. Dezember 1829 durch König Anton von
           Sachsen auch Statuten.</p>
        <p>Um die Tradition des 1736 gestifteten Ordens nach dem Ende der Monarchie in Sachsen fortzusetzten und zu bewahren, schlossen
           sich bereits 1959 in Bamberg fast 300 im ersten Weltkrieg ausgezeichnete Träger des St-Heinrich- Ordens und der St.
           Heinrich-Medaille zum „Konvent des Königlichen Sächsischen Militär St. Heinrich Ordens“ unter der „Großmeisterwürde“ des
           Markgrafen Friedrich Christian zusammen. Im Jahre 1975 gründete Markgraf Maria Emanuel den „Verein der St.
           Heinrichs-Nadelträger“ und im Jahre 1985 den bis heute bestehenden Verein „St.-Heinrich-Orden e.V. Bamberg“. Mit der Gründung
           des Vereins gingen die Traditionen des Konventes des Kgl. Sächs. Militär-St. Heinrichs-Ordens auf Träger der St. Heinrich-Nadel
           und somit auch auf den St. Heinrich Orden e.V. über.</p>
        <h3>Investitur</h3>
        <p>Der Kreis des St-Heinrich-Ordens ist auf 30 Ritter und 6 Komtur-Ritter begrenzt. Die Aufnahme in den Orden erfolgt nach
           Beschluss des Vorstandes. Der Orden wählt bewusst durch persönliche Ansprache jene Persönlichkeiten zur Aufnahme aus, die sich
           durch ihr Handeln und ihren Lebensweg dem Ordensleitsatz und dem Ordensleitbild gemäß bewährt haben.</p> 
        <p>Ein Anrecht auf Aufnahme in den Orden besteht nicht.</p>

        <h4>St.-Heinrichs-Nadel</h4>
        <p>Mit Ende des Königreiches Sachsen 1918 und dem Inkrafttreten der Weimarer Reichsverfassung im Jahr 1919 endet die Geschichte
           des bis dahin bestehenden Militär-St.-Heinrich-Ordens, der fortan nicht mehr verliehen wurde. Ihm folgte die am 31. Dezember
           1963 anlässlich des 70. Geburtstags von Markgraf Friedrich Christian als „Friedensklasse“ des Ordens gestiftete 
           „St.-Heinrich-Nadel“. Namenspatron ist – der langen Tradition deutscher Herrscherhäuser folgend – Heinrich IV. (von 995 bis
           1004 und 1009 bis 1017 Herzog zu Bayern), der als Heinrich II. von 1002 bis 1024 König des Ostfränkischen Reiches und von 1014
           bis 1024 Kaiser des Heiligen Römischen Reiches deutscher Nation war.</p>
      </div>
      <%= render 'pages/footer'%>
    </div>
  </body>