<head>
    <%= render 'pages/navbar'%>
</head>
  <body>
    <div class="container main">
      <div class="container-alexander d-flex justify-content-center">
        <img class="alexander" src="https://res.cloudinary.com/titavon/image/upload/v1618493752/papi_mfhtw7.jpg">
      </div>
      <%= render 'pages/icon' %>
      <div class="container text">
        <h2>Grußwort</h2> 
          <p>Der gelebten Tradition großer humanistischer Geister der europäischen Geschichte folgend, deren Lebenswerk immer über Grenzen hinweg wirkte, und nie regional, sondern immer europäisch, international orientiert war, ist es Ziel der Arbeit des St.-Heinrich-Ordens, Initiativen zu unterstützen, zu begründen und zu fördern, die sich einer nachhaltigen Entwicklung für Sachsen, Deutschland und Europa verpflichtet sehen, und Zeitgeschehen kritisch hinterfragen.</p>
          <p>Hervorragendes Benehmen, die Ausbildung einer eigenen Persönlichkeit sowie moralischer Mut sind zu Tugenden von alters her gewesen. Im 21. Jahrhundert werden leider Intoleranz und Ausgrenzung, aber auch wirtschaftliche Entgrenzung und individuelle Maßlosigkeit zu neuen Untugenden.</p>
          <p>Die Bereitschaft zu Demut, zu Verzicht sowie der Dienst am Gemeinwesen und das Bekenntnis zu christlichen Wurzeln schlagen die Brücke zu bewährten abendländischen Werten. In dieser Folge steht der St.-Heinrich-Orden sowohl durch seinen Namenspatron Kaiser Heinrich II. als auch durch den gelebten edlen Anspruch an seine Ordensmitglieder.</p>
          <p>Anregungen, einem lebendigen konstruktiven Gedankenaustausch, Projektideen und Initiativen stehen wir daher jederzeit offen gegenüber.</p>
          <p>Ihr</p>
          <p>Alexander Markgraph von Meissen Herzog zu Sachsen</p>
      </div>
      <%= render 'pages/footer'%>
    </div>
  </body>