 <div class="footer-container d-flex justify-content-center">
      <img class="footer" src="https://res.cloudinary.com/titavon/image/upload/v1617297615/fusslinie_xllawq.png">
    </div>
    <div class="footer-title-container d-flex justify-content-center">
      <img class="footer-title" src="https://res.cloudinary.com/titavon/image/upload/v1617297982/stheinrich_down1_gqzbqn.png">
    </div>
    <div class="footer-text-container d-flex justify-content-center">
      <p>Montanas Calizas 405 · 11000 CDMX, México</p>
    </div>
    <div class="footer-text-container1 d-flex justify-content-center">
      <p>info@st-heinrichs-orden.von-sachsen.eu</p>
    </div>