<head>
<%= render 'navbar'%>
</head>

<body>
  <div class="container main" style="background-color: #FFFFFF">
    <%= render 'slide.show'%>
    <div class="Newest-events">
      <!--<img class="line-left" src="https://res.cloudinary.com/titavon/image/upload/v1616041002/Vector_skcfto.png">-->
      <div class="container events-title">
      <h2>Newest Events</h2>
      </div>
      <!--<img class="line-right" src="https://res.cloudinary.com/titavon/image/upload/v1616041002/Vector_skcfto.png">-->
      <div class="container-events d-flex justify-content-center">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1617298897/1077_omnlvn.jpg" class="rounded float-left" alt="...">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1617298918/1141_y7l1vk.jpg" class="rounded float-center" alt="...">
        <img src="https://res.cloudinary.com/titavon/image/upload/v1617298919/DSC_1825_fwrwv7.jpg" class="rounded float-right" alt="...">
      </div>
    </div>
    <%= render 'icon'%>
    <div class="container entree d-flex justify-content-center">
      <h3>ÉNTREE</h3>
    </div>
    <div class="container-start d-flex justify-content-center">
      <p>Der St.-Heinrich-Orden ist von seiner Gründung an eng mit Sachsen und mit der sächsischen Geschichte verbunden. 
        Seit der Stiftung durch Churfürst Friedrich August II. von Sachsen und zugleich König August III. von Polen und Grossfürst von
        Litauen am 7. Oktober 1736 durchlebte der Orden bis heute verschiedene Ausrichtungen, 
        die ihn vom militärischen Orden zu einer für Nachhaltigkeit und Werteorientierung eintretenden Institution wachsen ließen. 
        Der Sitz des Ordens ist Bamberg - verbunden mit der Grablege des Namensgebers Kaiser Heinrich II. im Dom zu Bamberg. 
        Aber auch mit der Landeshauptstadt Dresden spannt der Orden eine Brücke zwischen den Bundesländern Bayern und Sachsen.</p>
    </div>
    <%= render 'footer'%>
  </div>
</body>