.text {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 150px;
    padding-right: 150px;
    text-align: left;
    padding-top: 40px;
}

.container-alexander {
    /*position: relative;
    right: 353px;
    top: 291px;*/
    flex-direction: row;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.alexander {
    width: 30%;
    height: 450px;
    object-fit: cover;
    object-position: 50% 50%;
    border-radius: 5px;
    margin-top: 20px;
    padding-left: 20px;
}

#alex {
    padding-left: 20px;
    padding-right: 50px;
}

.icon-start {
    margin-top: -35px;
}